@import "variables.less";

/** Deprecated colors */
@color-white: #fff;
@color-gray: #f0f0f0;
@color-light-gray: #fafafa;
@color-dark-gray: #b9b9b9;
@color-dark-blue: #65a0e3;
@shadow1: 0 4px 16px rgba(0, 0, 0, .2);
@shadow2: 0 1px 16px rgba(0, 0, 0, .2);
/** END OF Deprecated colors */


.anychart-chart-editor {
  position: relative;
  background: #ecf0f3;
  color: #4a6181;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  width: 100%;
  height: 100%;

  a,
  a:link,
  a:visited {
    color: #06c;
    cursor: pointer;
  }

  h1 {
    font-size: 19px;
  }
  h2 {
    font-size: 16px;
  }
}

.anychart-chart-editor-dialog {
  .box-shadow(@shadow1);
  background: white;
  border: 1px solid #acacac;
  position: absolute;
  width: 90%;
  height: 90%;
  min-width: 780px; // 260 is a min size of a settings sidebar, total min is 260 * 3
  min-height: 400px;
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  z-index: 1000;
}

.anychart-chart-editor-step {
  position: absolute;
  //top: 35px; /* for title */
  top: 0;
  bottom: 60px; /*for breadcrumbs*/
  left: 0;
  right: 0;
  z-index: 1;

  .step-title {
    position: absolute;
    top: -35px;
    left: 25px;
    display: none;
  }

  .chart-container {
    position: absolute;
    top: 54px;
    bottom: 18px;
    left: 18px;
    right: 18px;
    border: 1px solid @color-gray;
  }
}

.anychart-geo-data-inputs {
  margin: 10px 0;
}

/** region Appearance step */
.anychart-settings-panel-no-top {
  > .top {
    display: none;
  }
}

.anychart-settings-title {
  .title-text {
    width: 250px;
    font-size: 15px;
    padding: 6px 10px;
  }
  .title-color {
    float: right;
  }
  .title-font-family {
    float: left;
    margin-left: 0;
    margin-right: 10px;
  }
  .title-font-size {
    float: left;
  }
  .title-font-style-buttons {
    display: inline-block;
    width: 94px;
    float: right;
  }

}

.anychart-settings-title,
.anychart-settings-legend-appearance,
.anychart-settings-panel-tooltip {
  .anychart-select-data-field-select {
    min-width: 150px;
  }
}
.anychart-settings-stroke {
  .top {
    font-size: 15px !important;
    color: @color-label !important;
    float: left;
    width: 12%;
    padding-top: 3px;
  }
  .content {
    float: left;
    width: 88%;
  }
  .anychart-stroke-dash,
  .anychart-stroke-thickness,
  .anychart-stroke-color {
    display: inline-block;
    float: right;
    min-width: unset;
    margin: 0 10px 5px 0;
  }
  .anychart-stroke-dash {
    width: 110px;
  }
  .anychart-chart-editor-color {
    margin-right: 0;
  }
}

.anychart-settings-panel-generaltheming {
  .content {
    padding-bottom: 1px !important;
  }
}

.anychart-settings-panel-legend,
.anychart-settings-panel-seriessettings {
  > .content {
    background: none !important;
    padding: 0 !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }
}

.anychart-settings-panel-legend-single,
.anychart-settings-panel-series-single {
  .box-shadow(@shadow-1);
  border: 1px solid #c6d7e3;
  margin-bottom: 15px;
  background: #ffffff;
}

.anychart-settings-panel-legend-single {
  .top {
    padding: 15px;
    margin: 0 !important;
  }

  .anychart-settings-panel {
    padding: 0 15px 15px 15px;
  }

  .anychart-settings-legend-appearance {
    .anychart-settings-title {
      padding: 0;
    }
  }
  .anychart-settings-title {
    .top {
      padding: 15px 0;
    }
  }
}

.anychart-settings-panel-series-single {
  .anychart-plus-minus {
    margin-top: 5px;
    float: right;
  }

  .series-title {
    padding: 15px;
    font-size: 17px;
    outline: none;
  }
  .anychart-zippy-expanded {
    .anychart-plus-minus:after {
      content: "-";
      top: -6px;
    }
  }
  .anychart-settings-panel {
    padding: 15px;
  }
  .anychart-settings-data-markers {
    .anychart-settings-stroke {
      padding: 15px 0 0 0;
    }
  }
}

.anychart-settings-panel-tooltip {
  > .content {
    padding: 0 !important;
  }
  .anychart-settings-panel {
    padding: 15px;
  }
}

.anychart-settings-data-markers {
  .markers-type,
  .markers-size {
    display: block;
    float: left;
  }
  .markers-fill {
    float: right;
  }
  .markers-type {
    min-width: 150px;
    margin-right: 10px;
  }
}

.anychart-chart-editor-icon {
  margin-top: 1px;
  font-size: 14px;
}

.anychart-buttonset-default {
  font-weight: bold;
}

.anychart-flat-menu-button {
  height: 14px;
  line-height: normal;
  margin: 0 0 0 5px;
  min-width: 0;
  padding: 6px 0 6px 6px;
  text-align: left;
}

.anychart-colormenu {
  padding: 10px;

  .anychart-palette-table {
    margin: 3px 0 0 0;
    padding: 0;
  }

  .anychart-label-input {
    width: 134px;
    margin-top: 5px;
  }
}

.ac-position-top,
.ac-position-bottom,
.ac-position-left,
.ac-position-right {
  font-size: 20px;  // grid 24
  margin-top: 0;
}

.ac-position-center,
.ac-position-center-top,
.ac-position-center-bottom,
.ac-position-center2,
.ac-position-center-left,
.ac-position-center-right {
  font-size: 21px; // grid 32
}


.ac-position-left,
.ac-position-right {
  font-size: 21px;
}

.anychart-flat-menu-button-caption {
  .ac-position-top,
  .ac-position-bottom,
  .ac-position-left,
  .ac-position-right {
    margin-top: -3px; // grid 24
    margin-left: -1px;
  }

  .ac-position-center,
  .ac-position-center-top,
  .ac-position-center-bottom,
  .ac-position-center2,
  .ac-position-center-left,
  .ac-position-center-right {
    margin-top: -4px; // grid 32
  }
}

.anychart-chart-editor-dialog-bg {
  background: #666;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 1000;
}

.anychart-chart-editor-dialog-title {
  font-weight: bold;
  height: 48px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding: 12px 14px;
  _zoom: 1; /* Ensures proper width in IE6 RTL. */
}

.anychart-chart-editor-dialog-title-logo {
  display: inline-block;
  /* todo rescale image to 25x25, (because background-size works only IE9+) */
  background: white url("https://cdn.anychart.com/images/anychart-logo-medium.png") no-repeat;
  background-size: 36px 36px;
  width: 36px;
  height: 36px;
  position: relative;
  top: 6px;
}

.anychart-chart-editor-dialog-title-text {
  font-size: 18px;
  line-height: 36px;
  position: relative;
  top: -6px;
  left: 7px;
  cursor: default;
}

.anychart-chart-editor-dialog-title-close {
  .opacity(0.5);
  float: right;
  margin-top: 15px;
  margin-right: 10px;
  height: 18px;
  width: 18px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
}

.anychart-jsonprettyprinter-propertyname {
  color: #4d4e53;
}

.anychart-jsonprettyprinter-propertyvalue-string {
  color: #690;
}

.anychart-jsonprettyprinter-propertyvalue-number {
  color: #905;
}

.anychart-jsonprettyprinter-propertyvalue-boolean {
  color: #07a;
}

.anychart-jsonprettyprinter-propertyvalue-null {
  color: #07a;
}

/* ------- SETTINGS GROUP ------- */
.anychart-chart-editor-settings-item-gap {
  clear: both;
  height: 12px;
}

.anychart-chart-editor-settings-item-gap-mini {
  clear: both;
  height: 6px;
}

.anychart-chart-editor-settings-item-gap-micro {
  clear: both;
  height: 4px;
}

.anychart-chart-editor-settings-item-separator {
  clear: both;
  border-bottom: 1px solid @color-background;
}

.anychart-settings-label {
  font-size: 15px;
  color: @color-label;
  padding: 5px 0;
}

.anychart-settings-label-block {
  display: block;
}

.anychart-chart-editor-settings-control-right {
  float: right;
}


/* ------- CHART SETTINGS ------- */
.anychart-chart-editor-remove-btn {
  .opacity(0.7);
  cursor: pointer;
  padding: 2px;
}

.anychart-chart-editor-add-series-btn {
  margin: 0;
  width: 84px;
}

/* ------- NEED SORT THIS CLASSES ------- */
.anychart-chart-editor-colorPicker-popup {
  position: absolute;
  width: 300px;
}

.data-dialog {
  background: #c1d9ff;
  border: 1px solid #3a5774;
  color: #000;
  padding: 4px;
  position: absolute;
  z-index: 1002;
  width: 60%;
  top: 15% !important;

  a,
  a:link,
  a:visited  {
    color: #06c;
    cursor: pointer;
  }

  .input {
    width: 100%;
    margin-bottom: 20px;
  }

  textarea {
    height: 150px;
  }

  label {
    display: block;
    width: 51%;
    float: right;
    margin-bottom: 10px;

    .input {
      width: 150px;
      float: right;
      margin: 0;
      text-align: right;
    }
    .checkbox {
      width: 20px;
      height: 20px;
      float: right;
      margin: 0;
    }
  }
}

.data-dialog-buttons {
  button {
    margin-right: 20px;
  }
}

.data-dialog-bg {
  background: #666;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 1001;
}

.data-dialog-title {
  background: #e0edfe;
  color: #000;
  cursor: pointer;
  font-size: 120%;
  font-weight: bold;

  /* Add padding on the right to ensure the close button has room. */
  padding: 8px 31px 8px 8px;

  position: relative;
  _zoom: 1; /* Ensures proper width in IE6 RTL. */
}

.data-dialog-title-close {
  /* Client apps may override the URL at which they serve the sprite. */
  background: #e0edfe url('//ssl.gstatic.com/editor/editortoolbar.png') no-repeat -528px 0;
  cursor: default;
  height: 15px;
  position: absolute;
  right: 10px;
  top: 8px;
  width: 15px;
  vertical-align: middle;
}

.data-dialog-buttons,
.data-dialog-content {
  background-color: #fff;
  padding: 8px;
}

.goog-buttonset-default {
  font-weight: bold;
}