
// region ---- common
.anychart-clear {
  clear: both;
}

.anychart-noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
// endregion


// region ---- breadcrumbs
.anychart-breadcrumbs {
  /*min-height: 60px;*/
  background: #4d6675;
  padding: 0 12px;
}

.anychart-breadcrumbs-item {
  float: left;
  margin: 13px 30px 13px 0;
  cursor: default;
}

.anychart-breadcrumbs-item:last-child {
  margin-right: 0;
}

.anychart-breadcrumbs-buttons {
  float: right;
}

.anychart-breadcrumbs-item-caption {
  color: #7093aa;
  font-size: 18px;
}

.anychart-breadcrumbs-item-indicator {
  margin-top: 6px;
  height: 7px;
  width: 260px;
  background: #7093aa;
  border-radius: 4px;
}

.anychart-breadcrumbs-button {
  float: right;
  font-size: 18px;
  background: #549de1;
  color: white;
  border-radius: 40px;
  border: none;
  padding: 10px 18px;
  margin-top: 10px;
  outline: none;
  cursor: pointer;
}

.anychart-breadcrumbs-left {
  margin-right: 10px;
}

.anychart-breadcrumbs-right {
  float: right;
}

.anychart-breadcrumbs-item-active {
  cursor: pointer;
}

.anychart-breadcrumbs-item-active .anychart-breadcrumbs-item-caption {
  color: white;
}

.anychart-breadcrumbs-item-active .anychart-breadcrumbs-item-indicator {
  background: #549de1;
}
// endregion


// region ---- user data
.anychart-user-data {
  padding: 18px;
}

.anychart-user-data-caption {
  color: #7093aa;
  font-size: 16px;
  margin-top: 18px;
  margin-bottom: 18px;
}

.anychart-user-data-caption:first-child {
  margin-top: 0;
}

.anychart-user-data-container {
  text-align: left;
}

.anychart-user-data-item {
  float: left;
  width: 100px;
  overflow: hidden;
  margin-bottom: 18px;
  cursor: pointer;
}

.anychart-user-data-item-caption {
  margin-top: 4px;
  color: #549de1;
  font-size: 16px;
}
// endregion


// region ---- select with icon
.anychart-ui-select-with-icon {
  padding: 4px 0;
  background: #ecf0f3;
  border-radius: 4px;
  position: relative;
  text-align: right;
  outline: none;
}

.anychart-ui-select-with-icon.goog-button-open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.anychart-ui-select-with-icon span {
  font-size: 18px;
  color: #7093aa;
  display: block;
  margin-left: 40px;
  margin-right: 34px;
  height: 34px;
  line-height: 34px;
}

.anychart-ui-select-with-icon:after {
  content: '';
  border-color: #7093aa transparent;
  border-style: solid;
  border-width: 6px 6px 0 6px;
  height: 0;
  width: 0;
  position: absolute;
  right: 11px;
  top: 19px;
}

.anychart-ui-select-with-icon img,
.anychart-ui-menu-item-with-icon img {
  position: absolute;
  display: block;
  width: 26px;
  height: 26px;
  top: 8px;
  left: 11px;
}

.anychart-ui-menu-item-with-icon img {
  top: 6px;
}

.anychart-ui-menu-item-with-icon {
  position: relative;
  padding: 4px 34px 0 4px;
  background: #ecf0f3;
  height: 34px;
  line-height: 34px;
  text-align: right;
  font-size: 18px;
  color: #7093aa;

}

.anychart-ui-menu-item-with-icon.goog-menuitem-highlight {
  background: #C1DEF1;
}

.anychart-ui-menu-item-with-icon:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
// endregion