@color-background: #e9edf0;

@color-blue: #469ced;
@color-blue-hovered: #02befc;
@color-blue-disabled: #738db0;

@color-border: #c7d8e4;
@color-border-disabled: #adc0d9 transparent;

@color-shadow: #c4d5df;

@color-text: #4a6181;
@color-text-disabled: #a9bad0;
@color-text2: #31424f;

@color-hovered: #caf1fe;
@color-checked: #dde5ea;

@color-label: #7e92ad;

@color-caption: #171c20;
@color-breadcrumbs-back: #4a6181;

@shadow-1: 0 0 8px @color-shadow;
@shadow-dialog: 0 4px 16px rgba(0, 0, 0, .2);